venv*/*
**/.ipynb_checkpoints/*
*.csv
*.json
*.xlsx
**/__pycache__/*
ontologies/data/input/*
!ontologies/data/input/.gitkeep
ontologies/data/output/*
!ontologies/data/output/.gitkeep
resources
**/.DS_Store
scratch/*
data*/*