pyogrio==0.5.1 # Vectorized spatial vector file format I/O using GDAL/OGR
numpy==1.19.5 
psycopg2-binary==2.9.5 # Python-PostgreSQL Database Adapter
ipywidgets==7.7.1
hyper==0.7.0 #HTTP/2 Client for Python
arcgis==2.1.0 # ArcGIS API for Python
cenpy==1.0.1 # Explore and download data from Census APIs
CensusData==1.15.post1
folium==0.14.0 # Make beautiful maps with Leaflet.js & Python
jupyterlab==3.5.2
mapclassify==2.5.0
pandas==1.4.4
configparser==5.3.0
dash==2.9.3
plotly==5.14.1
Flask==2.3.1
llama-index==0.6.1
langchain==0.0.161
openai==0.27.6
google-auth-oauthlib==1.0.0
google-api-python-client==2.86.0
google-auth-httplib2==0.1.0
PyPDF2==3.0.1
neo4j==5.8.1