numpy==1.19.5
ipywidgets==7.6.0
hyper==0.7.0
#openpyxl==3.1.0
arcgis==2.1.0
cenpy==1.0.1
CensusData==1.15.post1
folium==0.14.0
jupyterlab==3.5.2
mapclassify==2.5.0
matplotlib==3.6.3
Owlready2==0.39
pandas==1.4.4
#psycopg2==2.9.5
scikit-learn==1.2.1
seaborn==0.12.2
SQLAlchemy==1.4.46
spacy==3.5.2
openai==0.27.4
llama-index==0.5.23
voila==0.4.0
langchain==0.0.152
openai==0.27.5
google-auth-oauthlib==1.0.0
google-api-python-client==2.86.0
google-auth-httplib2==0.1.0
PyPDF2==3.0.1