body{
    margin:0;

}

.leaflet-container{
    height:100vh;
    width:100vw;
}

:root {
    --brand-color: periwinkle;
  }
  
  body {
    margin: 1;
    /* background-color: AntiqueWhite; */
     background: url("/images/background_form.jpg");
     background-repeat: no-repeat;
     background-position: bottom right -50px;
     background-size: 30vw;
     background-attachment: fixed;
   
  }
  
  * {
    font-family: 'Ubuntu Mono', monospace;
  }
  
  .container {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    margin: 0 auto;
    padding: 5rem 0;
    box-sizing: border-box;
  }
  .container img {
    max-width: 75%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .main-section {
    min-width: 0;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .main-section > div{
    margin-bottom: 1rem;
  }
  .small-blurb {
    font-size: 2rem;
    /* line-height: 9.5rem; */
    text-transform: uppercase;
    color: var(--brand-color);
    margin: auto;
    width: 30%;
    padding: 1px;

  }
  
  
  .big-blurb {
    font-size: 5rem;
    /* line-height: 9.5rem; */
    text-transform: uppercase;
    color: var(--brand-color);
  }
  
   .btn {
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    margin-right: 5px;
    color: black;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
  }
  
  .right-section {
   display: flex;
   justify-content: center;
   gap: 2rdm;
   align-items: flex-start;
  }
  
  
    
   
    .left-section {
      text-align: center;
    }
  
  .form-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 1em !important;
    margin: 0 auto;
  }
  
  .input-group {
    display: flex;
  }
  
  .input-label {
    width: 12.5rem;
  }
  
  .input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .35em;
    background-color: grey;
    color: white;
  }
  
  .input-wrapper {
    display: flex;
    flex-grow: 1;
    border: 1px solid grey;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .input {
    flex-grow: 1;
    border: none;
    padding: .25em;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
  }

  .main-nav{
    padding: 0.5rem;
    display: flex;
    justify-content: right;
    background-color: teal;
  }

  .main-nav a {
    text-decoration: none;
    color: white;
    padding: 0.25em;
    border-radius: 5px;
  }

  .main-nav a:hover{
    background-color: blue;
  }